
.container {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 300px 40px;
    

}

.header {

   grid-column: 1 / -1;
   background: gold;
   font-size: 2em;
   font-family: 'Trebuchet MS';
   text-align: center;
   color: black;
   border: black;
   box-sizing: border-box;
   padding: 25px;

}

.menu {
    grid-column: 1 / 3;
    background: blueviolet;
    text-align: justify;
    font-family: 'Trebuchet MS';
    font-size: 1em;
    color: white;
    padding: 20px;

}

.content ul li {
    padding: 10px;
    background: rgba(0, 0, 0, 0.712);
    display: inline-block;
    font-size: 20px;
    padding: 0px 10px;
   }

.content {
    grid-column: 3 / -1;
    background: indigo;
    font-family: 'Trebuchet MS';
    color: gold;
    text-align: justify;
    padding: 30px;
    display: inline;

 }

.footer {
    grid-column: 1 / -1;
    background:yellow;
}






